
<html>

<head>
	<title>
		lil server
		<link rel="stylesheet" type="text/css" href="/app.css" />
	</title>
</head>

<body>
	
<a href='index.html'><img src="../public/logo.png" alt="the field guide of fungi crafts" align="left"></a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	{{{body}}}

</body>

</html>