<!--sldjvskvjadklcjdsclksdjvckds
<br>
<br>
Whoa, {{planet}}!!!!
<br>
<br>
{{#each planetNames}}
	planet name: {{this}}
	<br>
{{/each}}-->


<div class="row">
    <div class="large-8 medium-8 columns">


		
		    <div class="callout panel">
		    	<h3>Welcome, friends!</h3>
			      <p>Fungi offer artists many opportunities for enriching their practice. As someone who is constantly creating, you are probably also eager to find ways to experiment. The purpose of this guide is to empower you to use fungi in as many ways as you can dream up. This guide is the work of many people. Please consider submitting your experiences, corrections, and additions.</p>
		    
		</div>

		
		    <a href="/browse" class="medium success button">   browse all mushroom crafts   </a>

		    <a href="/browse" class="medium success button">   browse all lichen crafts   </a>

	</div>

	
	<div class="large-4 medium-4 columns">
			  <div class="callout panel">
		    	<h3>featured crafts</h3>
			      <img src="../public/feat-01.png" alt="spore prints" align="left">
			  </br>
				  <h4>
				  	<a href='/tutorial/spore-prints'>spore prints</a>
				  </h4>
				</br>
				</br>
			      <img src="../public/feat-04.png" alt="mushroom dyes" align="left">
			  </br>
				  <h4>
				  	<a href='/tutorial/mushroom-dyes'>mushroom dyes</a>
				  </h4>
		    </div>
			        
    </div>
</div>


