<!-- <h1>
	{{name}}
</h1>
<h2>
	<a href='/browse'>Back to all crafts</a>
</h2>
<h3>
	What you'll need
</h3>
<ul>
	{{#each materials}}
		<li>{{this}}</li>
	{{/each}}
</ul> -->

<div class="row">
    <div class="large-3 medium-3 columns">


		
		    <div class="callout panel">
		    	<h2>
					{{name}}
					mushroom dyes
				</h2>

				</br>

				<h4>
					<a href='/browse'>Back to all crafts</a>
				</h4>
				</br>
				
				<h3>
					What you'll need
				</h3>


				<ul>
					{{#each materials}}
						<li>{{this}}</li>
					{{/each}}
				</ul>

				<p>
					dye mushrooms</br>
					mordant</br>
				</p>
			</div>

	</div>

	
	<div class="large-9 medium-9 columns">
			  <div class="callout panel">
		    	<h3>choosing your mushrooms</h3>
			      <p>
			      	[content]
			      </p>
		    </div>
			        
    </div>
</div>
